<h1>Integritetspolicy</h1>
<br/>
<h2>Huvudinformation</h2>
• <b>Användare</b> – En ‘användare’ definieras som en individ som använder detta program;<br/>
• <b>Registrering</b> – Proceduren att identifiera användaren;<br/>
• <b>Tjänst</b> – Transport av passagerare och/eller bagage;<br/>
• <b>Personlig data</b> - all information direkt eller indirekt kopplad till en specifik användare;<br/>
• <b>Behandling av personlig data</b> - alla operationer eller procedurer som utförs med eller utan automatiserade verktyg som behandlar personlig data, såsom insamling, inspelning, systematisering, ackumulation, lagring, uppdatering/modifiering, extraktion, användning, överföring (distribution, tillhandahållande, åtkomst), anonymisering, blockering, radering, makulering av personlig data;<br/>
• <b>Operatör</b> - en statlig eller kommunal institution, privat företag eller individ, som oberoende eller tillsammans med andra organiserar och/eller behandlar personlig data samt definierar syftet med behandlingen av personlig data, uppbyggnaden av den personliga data som behandlas, och de metoder som används för att behandla personlig data;<br/>
• Verkställaren av tjänsten är föraren av det fordon som tjänsten anbelangar;<br/>
• <b>Partner</b> - ett företag som fått mandat av operatören att tillsätta verkställaren;<br/>
• <b>Kontantlös betalning</b> - betalning för en tjänst via bankkort, e-plånbok eller andra elektroniska betalningsmetoder;<br/>
• Betalningssystemet är ett företag som fått mandat av operatören att behandla kontantlösa betalningar;<br/>
• Marknadsförings-ID är ett unikt identifikationsnummer för att visa reklambudskap;<br/>
<br/>

<h2>Vilken information samlas in?</h2>
Enbart information som är relevant för att tillhandahålla tjänsten skall insamlas:<br/>
<br/>
• Användarens aktuella position för att lokalisera fordon som del av tjänsten;<br/>
• Användarens telefonnummer för registrering, information om status på tjänsten och möjliggörande av kontantlös betalning;<br/>
• Användarens e-postadress för att informera om status på tjänsten och möjliggörande av kontantlös betalning;<br/>
• Användarens för- och efternamn för att förbättra kvaliteten på tjänsten och möjliggöra kontantlös betalning;<br/>
• Marknadsförings-ID för att räkna antalet unika programinstallationer;<br/>
<br/>
Det här programmet lagrar INTE information om bankkort, elektroniska plånböcker eller någon annan betalningsinformation som tillhör användaren, och har INTE automatisk tillgång till den informationen.<br/>
<br/>

<h2>Hur informationen används</h2>
Den information som uppges av användaren används för att kommunicera med användaren och utföra tjänsten.<br/>
<br/>

<h2>Delning av information med tredje part</h2>
<br/>
Användarens personliga data kan komma att delas med parter utöver det här programmet, om nödvändigt:<br/>
• Verkställaren, för att utföra tjänsten;<br/>
• Partnern, för att välja en verkställare;<br/>
• Betalsystemet, för att möjliggöra kontantlös betalning;<br/>
• Marknadsförings-ID, för att räkna antalet unika programinstallationer;<br/>
• I enlighet med svensk lagstiftning och domstolsbeslut;<br/>
• För att upptäcka eller förhindra bedrägeriförsök;<br/>
• För att åtgärda tekniska fel i programmet;<br/>
• För att tillhandahålla information till statliga myndigheter på deras begäran.<br/>
<br/>

<h2>Dataskydd</h2>
<br/>
Det här programmet använder flera olika metoder för att skydda användarens data från obehörig åtkomst, i synnerhet:<br/>
• Dataöverföring mellan servern och programmet använder asymmetrisk kryptering (SSL);<br/>
• Lösenord och annan data som kan identifiera användaren lagras som hashvärden med unik nyckel;<br/>
• Tjänster och underhållstjänster för programmet och dess innehåll uppdateras regelbundet;<br/>
• Programmet kontrolleras regelbundet efter skadlig kod.<br/>

<h2>Ändringar</h2>
<br/>
Uppdateringar av integritetspolicyn publiceras på den här sidan. För användarens information lagras alla tidigare versioner av integritetspolicyn i arkiverade filer.